@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');

html { 
  height: 100%; 
}

body {
  background-image: url(../img/qwerhacks_background.png);
  font-family: 'Be Vietnam', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0px
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 90% 10%;
}

.b {
  display: block; 
  text-align: left;
  padding-left: 20px;
  width: 100%; 
  height: 10vh;
  border-radius: 50px;
  font-size: 1.25em;
  border: none;
  background-color: transparent;
}

.b:hover {
  border: 1px solid black;
}

.buttons {
  padding-top: 30px;
  padding-left: 10px; 
}

.container {
  display: grid;
  height: 100%;
  grid-template-rows: 20% 80%;
  padding-left: 60px;
  /*align-items: center;*/
}

.main-logo {
  font-size: 6em;
  width: 100%;
  /*text-align: center;*/
}

.home_info {
  padding: 10px; 
  padding-right: 60px; 
  font-size: 2em;
}

