@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html { 
  height: 100%; 
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0px
}

.content {
  background-color: rgb(31, 33, 32);
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
}

.b {
  display: block; 
  text-align: center;
  width: 100%; 
  height: 20vh;
  border-radius: 8px;
  font-size: 1.25em;
}

#about {
  background-color: lightcoral;
  color: black;
  grid-row: 1;
  grid-column: 1;
}

#about:hover {
  background-color: red;
  color:white;
}

#faq {
  background-color: orange;
  grid-row: 2;
  grid-column: 1;
}

#faq:hover {
  background-color: darkorange;
  color:white;
}

#sched {
  background-color: rgb(255, 225, 0);
  grid-row: 3;
  grid-column: 1;
}

#sched:hover {
  background-color: rgb(253, 253, 150)
}

#sandp {
  background-color: lightblue;
  grid-row: 4;
  grid-column: 1;grid-column: 1;
}

#sandp:hover {
  background-color: blue;
  color: white;
}

#resources {
  background-color: lightgreen;
  grid-row: 5;
  grid-column: 1;
}

#resources:hover {
  background-color: green;
  color: white;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
}

.main-logo {
  font-size: 5em;
  width: 100%;
  color: white;
  text-align: center;
}

.social-media {
  margin-top: auto;
  color: white;
}

