@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@600&display=swap');

html { 
  height: 100%; 
}

body {
  background-image: url(./img/qwerhacks_background.png);
  /* background-size: 100%;  */
  /* background-repeat: repeat; */
  /* background-size: cover;  */
  /* background-repeat: no-repeat; */
  font-family: 'Be Vietnam', sans-serif;
  /* height: 100%;
  width: 100%; */
  height: 100vh;
  width: 100vw;
  margin: 0px 0px;
  padding: 0px;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.b {
  display: block; 
  text-align: left;
  padding-left: 40px;
  width: 100%; 
  height: 9vh;
  border-radius: 50px;
  font-size: 1.25em;
  border: none;
  outline: none; 
  background-color: transparent;
  margin-bottom: 10px;
}

.b:hover {
  border: 1px solid black;
}

.b:focus {
  font-style: italic;
  border: 1px solid black;
  background-image: url(./img/arrow@2x.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 85%;
  background-position-y: center;
}

.buttons {
  padding-top: 40px;
  padding-left: 20px; 
}

.main-logo {
  font-weight: 600;
  font-size: 70px;
  padding-top: 16px; 
  width: 100%;
}

.home_info {
  padding: 10px; 
  padding-right: 350px; 
  font-size: 20px;
}

.text-link {
  text-decoration: none;
}

.container {
  padding-left: 80px; 
}

.question {
  font-weight: 600;
}

.qanda {
  padding-bottom: 25px; 
  padding-right: 200px; 
  font-size: 1.1em; 
}

.comingsoon {
  font-size: 3em;
  padding-top: 10px; 
}

.tracks {
  padding-top: 20px; 
  display: flex;
  flex-direction: row;
}

.box {
  padding-right: 50px; 
}

.footer {
  width: 100%; 
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 120px; 
  padding-bottom: 30px; 
}

.team {
  padding-right: 50px; 
}

.footer_logo {
  padding-right: 110px;
  font-weight: 600;
  font-size: 40px; 
  padding-left: 20px;
  text-align: center;
}

.social_media {
  display: flex;
  flex-direction: row;
  padding-left: 37px; 
  padding-top: 20px; 
}

.icon {
  padding-right: 20px; 
}

.arrow {
  padding-left: 10px;
}

.mentors {
  padding-top: 20px; 
}



@media screen and (max-width:420px) {
  
}