@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@0,100;0,300;0,600;1,300;1,600&display=swap');

html { 
  height: 100%; 
}

body {
  background-image: url(./img/qwerhacks_background.png);
  /* background-size: 100%;  */
  /* background-repeat: repeat; */
  background-size: 100% 1600px;
  background-repeat: no-repeat;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 300;
  /* height: 100%;
  width: 100%; */
  /*height: 100vh;
  width: 100vw;*/
  margin: 0px 0px;
  padding: 0px;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 260px auto;
  padding: 0 20px;
}

.b {
  display: block; 
  text-align: left;
  padding-left: 30px;
  width: 100%; 
  height: 4em;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid transparent;
  outline: none; 
  background-color: transparent;
  margin-bottom: 2em;
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 600;

}

a.active .b {
  border-color: black;
  font-style: italic;
  border: 1px solid black;
  background-image: url(./img/arrow@2x.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position-x: 85%;
  background-position-y: center;
}

.b:hover {
  border-color: black;
}

.buttons {
  padding-top: 75px;
}

h1, 
.main-logo {
  font-weight: 600;
  font-size: 60px;
  padding-top: 50px; 
  width: 100%;
  margin: 0;
}

h1 .subtitle {
  font-size: 0.4em;
  font-weight: 200;
  bottom: 12px;
  position: relative;
  margin-left: 0.2em;
}

.home_info {
  padding: 10px 0; 
  font-weight: 300;
  line-height: 1.8em;
  max-width: 800px;

}

.text-link {
  text-decoration: none;
}

.container {
  padding-left: 80px; 
}

.question {
  font-weight: 600;
  padding-bottom: 0.2em;
}

.qanda {
  padding: 10px 0;  
  max-width: 800px;
}

.tracks {
  padding-top: 20px; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  padding-right: 30px; 
  padding-bottom: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding-left: 50px;
  padding-top: 170px; 
  padding-bottom: 30px; 
}

.team {
  padding-right: 50px; 
  padding-top: 20px;
  font-size: 12px;
}

.footer_logo {
  padding-right: 110px;
  font-weight: 600;
  font-size: 40px; 
  padding-left: 20px;
  text-align: center;
}

.social_media {
  display: flex;
  flex-direction: row;
  padding-left: 30px; 
  padding-top: 20px; 
}

.icon {
  padding-right: 20px; 
}

.arrow {
  padding-left: 10px;
}

.mentors {
  padding-top: 20px; 
}

.schedule ul {
  list-style-type: none;
  padding-left: 1em;
}

.schedule li.session {
  padding-bottom: 2.5em;
  position: relative;
  border-left: 2px solid;
  padding-left: 20px;
}

.schedule li.session:last-child {
  border-color: transparent;
}

.schedule li.session .when {
  position: relative;
  top: -0.3em;
  padding-bottom: 0.2em;
}

.schedule li.session .when::before {
  content: ' ';
  position: absolute;
  width: 0.9em;
  height: 0.9em;
  background: black;
  left: -28px;
  top: 4px;
}

@media screen and (max-width:420px) {
  
}