@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@600&display=swap');

html { 
  height: 100%; 
}

body {
  background-image: url(./img/qwerhacks_background.png);
  font-family: 'Be Vietnam', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0px 0px;
  padding: 0px
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 15% 85%;
}

.b {
  display: block; 
  text-align: left;
  padding-left: 40px;
  width: 100%; 
  height: 10vh;
  border-radius: 50px;
  font-size: 1.25em;
  border: none;
  outline: none; 
  background-color: transparent;
}

.b:hover {
  border: 1px solid black;
}

.buttons {
  padding-top: 40px;
  padding-left: 20px; 
}

.main-logo {
  font-weight: 600;
  font-size: 70px;
  padding-top: 16px; 
  width: 100%;
}

.home_info {
  margin-top: 30px;
  padding: 10px; 
  padding-right: 60px; 
  font-size: 2em;
}

.text-link {
  text-decoration: none;
}

.container {
  padding-left: 80px; 
}

.question {
  font-weight: 600;
}

.qanda {
  padding-bottom: 30px; 
  padding-right: 200px; 
  font-size: 1em; 
}

.comingsoon {
  font-size: 3em;
  padding-top: 10px; 
}

.footer,
.push {
  height: 50px;
}

@media screen and (max-width:420px) {
  
}